.top{
    margin-left:50px;
  }
  h4{
    font-size:25px;
    max-width:460px;
    margin-top:0;
    margin-left:30px;
  }
  form{
    background-color:#ffffff;
    border-radius:5px;
    display:block;
    width:250px;
    height:250px;
    padding:20px;
  }
  .one{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #c0c0c0;
    border-radius:5px;
    padding-left:8px;
    width:90%;
    height:30px;
  }
  body{
    background-color:#d3d3d3;
    font-family:sans-serif;
  }
  button{
    background-color:#1e90ff;
    display:block;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:5px;
    border:none;
    width:95%;
    height:35px;
    font-size:15px;
    padding:4px 8px;
  }
  .btn{
    background-color:#32cd32;
    border-radius:5px;
    width:160px;
    margin-left:50px;
    height:30px;
    padding:auto;
    border:none;
    font-size:12px;
    font-weight:bold;
  }
  .three{
    margin-left:50px;
    margin-top:20px;
    margin-bottom:50px;
  }
  hr{
    border:1px solid #c0c0c0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:20px;
  }
  .main{
    display:flex;
    justify-content:center;
  }
  .new{
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
  }
  p{
    margin-top:10px;
    margin-left:40px;
    font-size:15px;
    font-weight:normal;
  }
  .fm{
    margin-right:50px;
  }
  .img{
    width:300px;
    margin-left:0;
    margin-top:0;
  }